* {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}


#harbourview {
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#harbourview img {
    width: 250px;
    height: 65px;
    background-color: black;
    top: 0;
    display: flex;
    height: 60px;
    padding-top: 10px;
    padding-left: 30px;
}

#carlogo {
    display: flex;
    justify-content: center;
    
}

#carlogo img {
    background-color: rgba(195, 195, 195, 0.407);
    height: 46px;
    display: block;

    
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding-right: 20px;
    background-color: rgba(195, 195, 195, 0.407);
    max-width: 64%;
    margin: 0 auto;
    
    
}

.nav {
    padding-top: 5px;
    
}

.nav a {
    color: white;
    background-color: rgba(195, 195, 195, 0.01);
    text-decoration: none;
    font-family: Ethnocentric;
}

.phonelogo {
    display: flex;
    float: left;
    align-items: left;
}

.phonelogo img {
    height: 46px;
    padding-right: 50px;
    float: left;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}