html {
background-color: rgb(255, 255, 255);
font-family: 'kenyancoffee';
margin: 0;
padding: 0;
    
}

@font-face {
    font-family: 'KenyanCoffee';
    src: url('/AS91893/AS91893-BalaajDogar/fonts/kenyan.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.head {
    text-align: center;
    color: white;
}

.title {
    
}

ul {

} 

li {
    display: inline-block;
    justify-content: center;
    border-right: 2px solid;
    border-color: rgb(255, 255, 255);
    padding-bottom: 4px;
    
}
p{
    font-size: 80px;
}
nav {
    text-align: left;  
    padding-right: 45px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column; 
    background-color: rgb(141, 141, 141);
    position: fixed;
    top: 0;
    
}

nav a {
    color: rgb(255, 255, 255);
    padding: 40px;
    text-decoration: none;
    

}

.pagecontainer{
    padding-top: 200px;
    margin: 0;
}
